*{padding: 0;margin: 0;box-sizing: border-box;}
body{
    height: 100vh;
    background: linear-gradient(to right,#FC427B,#7743C0,#7743C0,#FC427B);
}
#can{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: #121212;
    border:0px solid #040b24; 
}
#score_board{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:854px;
    height: 480px;
    text-align: center;
    padding: 12px;
    background-color: transparent;
    color: #ccc;
    font-size: 2.0em;
    font-family: monospace;
}